
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <ul class="nav navbar-nav">
    <li class="success"><a href="/">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">User
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/users"> User</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">Event
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/events"> Event List</a></li>
        <li><a href="/events/add">Add Event</a></li>
      </ul>
    </li>
    <!-- <li><a href="/apa lagi">apa lagi?</a></li> -->
  </ul>
