<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ERROR PAGE </title>
    <%- include partials/menubar %>
  </head>
  <body>
    <div class="container">
  <h2>Alerts!</h2>
  <div class="alert alert-success">
  <h2>  <%= panggilData %> </h2>
  </div>

  </body>
</html>
